<table >
  <tr>
    <td></td>
    <td>
      <% if !@up %>
        <%= form_tag("/tree_branches/#{@trunk.id}/up", method:"get") do %>
          <%= text_area_tag(:up, nil, rows: 4, cols: 25) %><br>
          <%= submit_tag("Submit") %>
        <% end %>
        <% else %>
          <%= link_to @up.sentence, @up %>
      <% end %>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <% if !session[:left] %>
        <%= form_tag("/left", method:"get") do %>
          <%= text_area_tag(:left, nil, rows: 4, cols: 25) %><br>
          <%= submit_tag("Submit") %>
        <% end %>
        <% else %>
          <%= link_to "#{session[:left]}" %>
      <% end %>
    </td>
    <td>
      <!-- Once upon a time, there was an elegant sea otter. -->
      <%= @trunk.sentence %>
    </td>
    <td>
      <% if !session[:right] %>
        <%= form_tag("/right", method:"get") do %>
          <%= text_area_tag(:right, nil, rows: 4, cols: 25) %><br>
          <%= submit_tag("Submit") %>
        <% end %>
          <% session[:right] = params[:right] %>
        <% else %>
          <%= link_to "#{session[:right]}" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <% if !session[:down] %>
        <%= form_tag("/down", method:"get") do %>
          <%= text_area_tag(:down, nil, rows: 4, cols: 25) %><br>
          <%= submit_tag("Submit") %>
        <% end %>
          <% session[:down] = params[:down] %>
        <% else %>
          <%= link_to "#{session[:down]}" %>
      <% end %>
    </td>
    <td></td>
  </tr>
</table>
