<table >
  <tr>
    <td></td>
    <td>
      <% if !@up %>
        <%= form_tag("/tree_branches/#{@trunk.id}/up", method:"get") do %>
          <%= text_area_tag(:up, nil, rows: 4, cols: 25) %><br>
          <%= submit_tag("Submit") %>
        <% end %>
        <% else %>
          <%= link_to @up.sentence, @up %>
      <% end %>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <% if !@left %>
        <%= form_tag("/tree_branches/#{@trunk.id}/left", method:"get") do %>
          <%= text_area_tag(:left, nil, rows: 4, cols: 25) %><br>
          <%= submit_tag("Submit") %>
        <% end %>
        <% else %>
          <%= link_to @left.sentence, @left %>
      <% end %>
    </td>
    <td>
      <%= @trunk.sentence %>
    </td>
    <td>
      <% if !@right %>
        <%= form_tag("/tree_branches/#{@trunk.id}/right", method:"get") do %>
          <%= text_area_tag(:right, nil, rows: 4, cols: 25) %><br>
          <%= submit_tag("Submit") %>
        <% end %>
        <% else %>
          <%= link_to @right.sentence, @right %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <% if !@down %>
        <%= form_tag("/tree_branches/#{@trunk.id}/down", method:"get") do %>
          <%= text_area_tag(:down, nil, rows: 4, cols: 25) %><br>
          <%= submit_tag("Submit") %>
        <% end %>
        <% else %>
          <%= link_to @down.sentence, @down %>
      <% end %>
    </td>
    <td></td>
  </tr>
</table>
